@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scan {
  0% { top: 0%; opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { top: 100%; opacity: 0; }
}

.animate-scan {
  animation: scan 2s linear infinite;
}

/* Стили для кастомных скроллбаров в духе брутализма */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  background: #000;
}